.content--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--secondary-color);
    padding: 5% 15%;
}

.rato--image {
    width: 50%;
}

.content--container strong {
    color: var(--primary-color);
}

.content--container h1 {
    font-size: 2.5rem;
}

.content--container p {
    font-size: 1.25rem;
}

.content-section--container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

@media (max-width: 1200px) {
    .content--container {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 5%;
    }

    .content--container h1 {
        font-size: 1.5rem;
    }

    .content--container p {
        font-size: 1rem;
    }

    .rato--image {
        width: auto
    }

    .content-section--container {
        width: auto;
    }
}